@{
    ViewData["Title"] = "Confirmation";
}

<div class="mil-content">
    <div id="swupMain" class="mil-main-transition">

        <!-- banner -->
        <div class="mil-inner-banner mil-p-0-120">
            <div class="mil-banner-content mil-center mil-up">
                <div class="container">
                    <ul class="mil-breadcrumbs mil-center mil-mb-60">
                        <li><a asp-controller="Home" asp-action="Home">Homepage</a></li>
                        <li><a asp-controller="Contact" asp-action="Contact">Contact</a></li>
                    </ul>
                    <h1 class="mil-mb-60">Thank you for reaching out!</h1>
                    <h4>We have received your message and will respond as soon as possible.</h4>
                    <br />
                    <a asp-controller="Home" asp-action="Home" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                        <span>Go Home</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- banner end -->
       
